body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}

.container{
  flex:1;
}

.navbar {
  height: 5rem;
  background-color: white;
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
}

.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-socials i {
  font-size: 1.2rem;
  margin-right: 1rem;
}

.f-info {
  text-align: center;
  height: 8rem;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.listing-card {
  border: none !important;
  margin-bottom: 2rem;
  position: relative;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  height: 20rem;
  object-fit: cover !important;
}

.listing-link {
  text-decoration: none;
  color: inherit;
}

.card-img-overlay {
  border-radius: 1rem;
  opacity: 0;
  background-color: white;
  transition: opacity 0.3s ease;
}

.card:hover .card-img-overlay {
  opacity: 0.2;
}

.add-btn{
  background-color: #fe424d !important;
  border:none !important;
}

.edit-btn{
  background-color: #fe424d !important;
  border:none !important;
}


.show-img {
  height: 40vh;
  object-fit: cover;
}

.card {
  border-radius: 1rem;
}

.card-body {
  padding: 1.5rem;
}

#map{
  height: 400px;
  width: 80vh;
} 

.card.shadow-sm {
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
}